# Generate a new key with:
#   node -e "const crypto = require('crypto'); const bs58 = require('bs58'); console.log(bs58.encode(crypto.randomBytes(64)));"
MAKER_PRIVATE_KEY=3PFQrAUjyi7deXsNRYWJeeVhvPCoLZphZ5x6j6cQUx1C5io1syZrgq2cEnfCgfdbhfE5tfoLuQ3veZ2g9AoprRco

# Aggregator Service Configuration
AGGREGATOR_PORT=8080

# RPC Configuration
SOLANA_RPC_URL=http://127.0.0.1:8899

# Aggregator URL (for tests)
AGGREGATOR_URL=http://127.0.0.1:8080